#signUp-form{
    position: relative;
    top:40px;
    bottom: 0;
    right: 50px;
    margin: auto;
    width: 150px;
    height: 100px;
}

form{
    width: 300px;
}

input[type="text"] {
    height: 25px;
    border-radius: 10px;
}

label{
    font-size: 16px;
}

.fields {
    margin-top: 7px;
}

.header{
    font-size: 72px;
    font-family: cursive;
    text-align: center;
}

.sub-header{
    font-size: 48px;
    color: black;
    font-family: cursive;
}

#login-button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
#login-button:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
#login-button:active {
    position:relative;
    top:1px;
}

