<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>SendChatServlet</servlet-name>
        <servlet-class>SDM.Servlets.SendChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>SDM.Servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewStoreNotificationServlet</servlet-name>
        <servlet-class>SDM.Servlets.NewStoreNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewStoreServlet</servlet-name>
        <servlet-class>SDM.Servlets.CreateNewStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsStoreIdAvailableServlet</servlet-name>
        <servlet-class>SDM.Servlets.IsStoreIdAvailableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreOwnerFeedbackServlet</servlet-name>
        <servlet-class>SDM.Servlets.StoreOwnerFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreOrdersHistoryServlet</servlet-name>
        <servlet-class>SDM.Servlets.StoreOrdersHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>SDM.Servlets.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrdersHistoryServlet</servlet-name>
        <servlet-class>SDM.Servlets.UserOrdersHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionsHistoryServlet</servlet-name>
        <servlet-class>SDM.Servlets.TransactionsHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBalanceServlet</servlet-name>
        <servlet-class>SDM.Servlets.UserBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackNotificationServlet</servlet-name>
        <servlet-class>SDM.Servlets.FeedbackNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNotificationServlet</servlet-name>
        <servlet-class>SDM.Servlets.OrderNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <servlet-class>SDM.Servlets.AddFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceDynamicOrderServlet</servlet-name>
        <servlet-class>SDM.Servlets.PlaceDynamicOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DynamicOrderSummaryServlet</servlet-name>
        <servlet-class>SDM.Servlets.DynamicOrderSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheapestStoresServlet</servlet-name>
        <servlet-class>SDM.Servlets.CheapestStoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreDetailsServlet</servlet-name>
        <servlet-class>SDM.Servlets.StoreDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceStaticOrderServlet</servlet-name>
        <servlet-class>SDM.Servlets.PlaceStaticOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSummaryServlet</servlet-name>
        <servlet-class>SDM.Servlets.OrderSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountsServlet</servlet-name>
        <servlet-class>SDM.Servlets.DiscountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryCostServlet</servlet-name>
        <servlet-class>SDM.Servlets.DeliveryCostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isValidLocation</servlet-name>
        <servlet-class>SDM.Servlets.IsValidLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMoneyToUserServlet</servlet-name>
        <servlet-class>SDM.Servlets.AddMoneyToUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreItemsServlet</servlet-name>
        <servlet-class>SDM.Servlets.StoreItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentFromItemsServlet</servlet-name>
        <servlet-class>SDM.Servlets.PaymentFromItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoneStoresServlet</servlet-name>
        <servlet-class>SDM.Servlets.ZoneStoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoneItemsServlet</servlet-name>
        <servlet-class>SDM.Servlets.ZoneItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumberOfOrdersServlet</servlet-name>
        <servlet-class>SDM.Servlets.NumberOfOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>SDM.Servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AverageOrderCostServlet</servlet-name>
        <servlet-class>SDM.Servlets.AverageOrderCostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadXmlServlet</servlet-name>
        <servlet-class>SDM.Servlets.LoadZoneXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataServlet</servlet-name>
        <servlet-class>SDM.Servlets.UserDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>SDM.Servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZonesServlet</servlet-name>
        <servlet-class>SDM.Servlets.ZonesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadXmlServlet</servlet-name>
        <url-pattern>/pages/mainPage/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/updateUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZonesServlet</servlet-name>
        <url-pattern>/updateZones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/pages/signUp/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataServlet</servlet-name>
        <url-pattern>/getUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AverageOrderCostServlet</servlet-name>
        <url-pattern>/getAverageOrderCost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumberOfOrdersServlet</servlet-name>
        <url-pattern>/getNumberOfOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoneItemsServlet</servlet-name>
        <url-pattern>/getZoneItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoneStoresServlet</servlet-name>
        <url-pattern>/getZoneStores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentFromItemsServlet</servlet-name>
        <url-pattern>/getPaymentFromItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreItemsServlet</servlet-name>
        <url-pattern>/getStoreItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMoneyToUserServlet</servlet-name>
        <url-pattern>/addMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isValidLocation</servlet-name>
        <url-pattern>/checkLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryCostServlet</servlet-name>
        <url-pattern>/calculateDeliveryCost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountsServlet</servlet-name>
        <url-pattern>/getPossibleDiscounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSummaryServlet</servlet-name>
        <url-pattern>/orderSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceStaticOrderServlet</servlet-name>
        <url-pattern>/placeStaticOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreDetailsServlet</servlet-name>
        <url-pattern>/storeDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheapestStoresServlet</servlet-name>
        <url-pattern>/findCheapestStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynamicOrderSummaryServlet</servlet-name>
        <url-pattern>/dynamicOrderSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceDynamicOrderServlet</servlet-name>
        <url-pattern>/placeDynamicOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <url-pattern>/addFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNotificationServlet</servlet-name>
        <url-pattern>/getNewOrdersNotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackNotificationServlet</servlet-name>
        <url-pattern>/getNewFeedbacksNotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBalanceServlet</servlet-name>
        <url-pattern>/getUserBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionsHistoryServlet</servlet-name>
        <url-pattern>/transactionsHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrdersHistoryServlet</servlet-name>
        <url-pattern>/userOrdersHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/orderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreOrdersHistoryServlet</servlet-name>
        <url-pattern>/storeOrdersHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreOwnerFeedbackServlet</servlet-name>
        <url-pattern>/getFeedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsStoreIdAvailableServlet</servlet-name>
        <url-pattern>/isStoreIdAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewStoreServlet</servlet-name>
        <url-pattern>/createNewStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewStoreNotificationServlet</servlet-name>
        <url-pattern>/newStoreNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chatData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendChatServlet</servlet-name>
        <url-pattern>/sendChat</url-pattern>
    </servlet-mapping>
</web-app>